body {
  color: #101828;
  line-height: 1.5;
  font-family: Inter, sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

button {
  display: inline-block;
  font: inherit;
  text-align: inherit;
  border: none;
  cursor: pointer;
  outline: none;
}
